---
import ProfileCard from "../components/ProfileCard.astro";
import ProjectCard from "../components/ProjectCard.astro";
import ContactCard from "../components/ContactCard.astro";
import LanguajesCard from "../components/LanguajesCard.astro";
import BaseLayout from "../layout/BaseLayout.astro";

import "../styles/global.css";
---

<BaseLayout>
  <div slot="carrusel"></div>
</BaseLayout>
