---

---

<h3 class="text-black dark:text-white items-center text-center font-bold text-2xl">CONTACTAME</h3>
<div class="text-black dark:text-white">
    <form action="mailto:lozanomontanes@gmail.com" method="post" class="grid grid-col-1 items-center gap-4">
        <label for="Nombre">Introduzca su nombre</label>
        <input type="text" id="Nombre" name="name" class="border-2 rounded-lg dark:bg-[#0B1A2B]" required>
        <label for="Email">Introduzca su email</label>
        <input type="email" id="Email" name="email" class="border-2 rounded-lg dark:bg-[#0B1A2B]" required>
        <label for="message">Digame que quiere</label>
        <textarea name="body" rows="5" cols="55" class="border-2 rounded-lg dark:bg-[#0B1A2B]" placeholder="Deje su peticion aqui"></textarea>
        <input type="submit" value="Enviar mensaje" class="bg-blue-500 text-white p-2 rounded-lg">
    </form>
</div>