---

---

<h3 class="text-black dark:text-white items-center text-center font-bold text-2xl">LENGUAJES MAS USADOS</h3>
<div
  class="grid grid-cols-2 md:grid-cols-3 lg:grid-cols-4 gap-4 p-4 text-black dark:text-white items-center text-center"
>
  <div class="bg-[#FFD19A] dark:bg-[#0B1A2B] p-4 rounded-lg shadow-md">
    <img src="https://cdn.jsdelivr.net/gh/devicons/devicon@latest/icons/angular/angular-original.svg" alt="Angular" class="w-full h-auto rounded" />
  </div>
  <div class="bg-[#FFD19A] dark:bg-[#0B1A2B] p-4 rounded-lg shadow-md">
    <img src="https://cdn.jsdelivr.net/gh/devicons/devicon@latest/icons/typescript/typescript-original.svg" alt="TypeScript" class="w-full h-auto rounded" />
  </div>
  <div class="bg-[#FFD19A] dark:bg-[#0B1A2B] p-4 rounded-lg shadow-md">
    <img src="https://cdn.jsdelivr.net/gh/devicons/devicon@latest/icons/javascript/javascript-original.svg" alt="JavaScript" class="w-full h-auto rounded" />
  </div>
  <div class="bg-[#FFD19A] dark:bg-[#0B1A2B] p-4 rounded-lg shadow-md">
    <img src="https://cdn.jsdelivr.net/gh/devicons/devicon@latest/icons/astro/astro-original.svg" alt="Astro" class="w-full h-auto rounded" />
  </div>
  <div class="bg-[#FFD19A] dark:bg-[#0B1A2B] p-4 rounded-lg shadow-md">
    <img src="https://cdn.jsdelivr.net/gh/devicons/devicon@latest/icons/laravel/laravel-original.svg" alt="Laravel" class="w-full h-auto rounded" />
  </div>
  <div class="bg-[#FFD19A] dark:bg-[#0B1A2B] p-4 rounded-lg shadow-md">
    <img src="https://cdn.jsdelivr.net/gh/devicons/devicon@latest/icons/php/php-original.svg" alt="PHP" class="w-full h-auto rounded" />
  </div>
  <div class="bg-[#FFD19A] dark:bg-[#0B1A2B] p-4 rounded-lg shadow-md">
    <img src="https://cdn.jsdelivr.net/gh/devicons/devicon@latest/icons/html5/html5-original.svg" alt="HTML" class="w-full h-auto rounded" />
  </div>
  <div class="bg-[#FFD19A] dark:bg-[#0B1A2B] p-4 rounded-lg shadow-md">
    <img src="https://cdn.jsdelivr.net/gh/devicons/devicon@latest/icons/tailwindcss/tailwindcss-original.svg" alt="Tailwind CSS" class="w-full h-auto rounded" />
  </div>
</div>
