---
import Social from "./Social.astro";
import ThemeIcon from "./ThemeIcon.astro";
---
  <div class="grid grid-col-1 items-center gap-4 p-2 w-full text-black dark:text-white">
    <div class="flex space-x-4">
      <div class="p-4 rounded-lg flex items-center justify-center shadow-md bg-[#FFD19A] dark:bg-[#0B1A2B]">
        <img src="" alt="Foto de perfil" class="w-16 h-16 rounded-full" />
      </div>
      <div
        class="bg-[#FFD19A] dark:bg-[#0B1A2B] rounded-lg w-full md:w-full p-4 flex items-center justify-center"
      >
        <h1 class="text-2xl font-bold text-center">Carlos Lozano</h1>
      </div>
    </div>

  <div class="justify-center text-center bg-[#FFD19A] dark:bg-[#0B1A2B] h-[270px] md:h-[690px] w-full rounded-lg flex-col">
      <p class="text-2xl m-0 text-black dark:text-white mt-5">Hola, me llamo Carlos Lozano.
      <p class="text-2xl m-0 text-black dark:text-white mt-5">Soy un desarrollador web al cual le encanta siempre ampliar sus conocimientos y habilidades.
      <p class="text-2xl m-0 text-black dark:text-white mt-5">Me encanta aprender cosas nuevas y compartir mis conocimientos con los demás.
      <p class="text-2xl m-0 text-black dark:text-white mt-5">Actualmente estoy aprendiendo React y Next.js.
  </div>

  <div class="flex justify-center space-x-4">
    <div class="bg-[#FFD19A] dark:bg-[#0B1A2B] rounded-lg">
      <Social platform="twitter" username="jhinishiro" />
    </div>
    <div class="bg-[#FFD19A] dark:bg-[#0B1A2B] rounded-lg">
      <Social platform="github" username="JhinIsHiro" />
    </div>
    <div class="bg-[#FFD19A] dark:bg-[#0B1A2B] rounded-lg">
      <Social platform="linkedin" username="in/carlos-lozano-68872128a" />
    </div>
    <div class="bg-[#FFD19A] dark:bg-[#0B1A2B] rounded-lg">
      <ThemeIcon />
    </div>
  </div>
</div>
